  .transaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    margin-left: 500px;
    background-color: #7a747a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  } 
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  h4 {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005ea2;
  }

  .deposit{
    background-color: green;
  }
  .withdraw{
    background-color: red;
  }